.container {
  background-color: aqua;
}
.content {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* -------------------left---------------- */
.leftContent {
  background-color: white;
  padding: 40px 0px;
  border-right: 1px solid #e5e5e5;
  height: 100vh;
}

/* ----1----- */
.content1 {
  display: flex;
  color: #7e98df;
  margin-bottom: 40px;
  position: relative;
}
.titleTelegram {
  display: flex;
  margin-right: 15px;
  position: relative;
}
.burger {
  display: flex;
  justify-content: flex-end;
}
.imgBurger {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.clickBurger {
  background-color: #7e98df;
  width: 200px;
  padding: 20px 20px;
  border-radius: 40px 10px 40px 25px;
  color: white;
  font-size: large;
  position: absolute;
  top: 30px;
  right: 30px;
}
.iconTitle {
  display: flex;
  margin-bottom: 20px;
}
.iconImage {
  margin-right: 0px;
  width: 20px;
  height: 20px;
}

/* ----2----- */
.content2 {
  display: flex;
  margin-bottom: 30px;
}
.divSearch {
  display: flex;
  background-color: #e5e5e5;
  height: 50px;
  margin-left: 10px;
  align-items: center;
  border-radius: 15px;
}
.input {
  height: 50px;
  border-radius: 15px;
  width: 100%;
  border: none;
  background-color: transparent;
}
.input[type='text'] {
  padding-left: 20px;
}
.input[type='text']:focus {
  outline: none;
}
.plus {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: flex-end;
}
.imgPlus {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* ----3----- */
.content3 {
  display: flex;
  margin-bottom: 30px;
}
.h6 {
  cursor: pointer;
}

/* ----4----- */
.content4 {
  padding: 2px 0px;
  margin-bottom: 21px;
  display: flex;
}
.divImage {
  display: flex;
  margin-right: 10px;
}
.imageProfile {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
}

/* //////////////////////////////// */
.settingContent {
  height: 100vh;
  width: 33.4%;
  top: 0;
  padding: 40px 0px;
  background-color: white;
  position: absolute;
  /* border-right: 1px solid #e5e5e5; */
}
/* --------2-------- */
.divPhotoprofile {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imageEditProfile {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}
.divButonEdit {
  background-color: transparent;
  border: none;
  display: flex;
}
.titleEdit {
  color: #9ea0a5;
  font-weight: 400;
}
.divLabel {
  margin-bottom: 10px;
}
.inputProfile {
  border: none;
  width: 98%;
  height: 30px;
  border-radius: 10px;
  background-color: #e5e5e5;
  outline: none;
}
.inputProfile[type='email'] {
  padding-left: 10px;
}
.inputProfile[type='text'] {
  padding-left: 10px;
}
.inputProfile[type='number'] {
  padding-left: 10px;
}
.inputBio {
  border: none;
  width: 98%;
  height: 55px;
  border-radius: 10px;
  background-color: #e5e5e5;
  outline: none;
  resize: none;
}
.divButonProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}
.buttonProfile {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  width: 30%;
  height: 40px;
  background-color: #e5e5e5;
  color: #0d0d0e;
  border-radius: 15px;
}

/* ----------------------right---------------- */
.rightContent {
  background-color: #e5e5e5;
  /* padding: 40px 30px; */
}

/* //////////////////////////////////////////// */
.settingContentRigh {
  height: 100vh;
  width: 26%;
  top: 0;
  right: 15px;
  padding: 40px 0px;
  background-color: white;
  position: absolute;
  /* display: none; */
  border-left: 1px solid #e5e5e5;
}

/* ///////////////////////////////////////////// */

/* ------------1. info contact ------------ */
.infoContact {
  background-color: white;
  height: 100px;
}
.firstContent {
  display: flex;
  padding-top: 45px;
  padding: 20px;
}
.rightContact {
  margin-left: 20px;
  display: flex;
}
.fullname {
  margin-left: 15px;
  margin-top: 7px;
}
.leftContact {
  margin-left: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.prifileMenu {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* ------------2. chat ---------- */
.secondContent {
  display: flex;
  padding: 20px;
  height: 70vh;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  overflow-y: scroll;
  overflow-x: hidden;
}
.imgChat {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 15px;
}
.rightChat {
  display: flex;
  align-items: flex-end;
  margin-bottom: 13px;
}
.chat {
  margin-left: 10px;
  display: flex;
  width: max-content;
  max-width: 40%;
  border-radius: 40px 40px 40px 10px;
  background-color: #7e98df;
  padding: 10px 20px;
  color: white;
}
.leftChat {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 13px;
  align-items: flex-start;
}
.myChat {
  margin-right: 10px;
  display: flex;
  width: max-content;
  max-width: 40%;
  border-radius: 40px 10px 40px 40px;
  background-color: white;
  padding: 10px 20px;
}

/* ------------3. insert chat ----------- */
.insertChat {
  background-color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.sendChat {
  background-color: #e5e5e5;
  width: 97%;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.divInputMsg {
  margin-right: 25px;
}
.inputMessage {
  height: 50px;
  background-color: transparent;
  border: none;
}
.inputMessage[type='text']:focus {
  outline: none;
}

@media screen and (max-width: 1115px) {
  .prifileMenu {
    display: none;
  }
}
